#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
#box {
  margin-left: 10px;
  width: 100px;
  max-width: 500px;
  height: 100px;
  max-height: 500px;
  background: blue;
}
